{{#link-to "clientes.novo" tagName="button" class="btn"}}
  <span class="glyphicon glyphicon-plus"></span>
  NOVO{{/link-to}}
<table class="table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>ações</th>
  </tr>
  </thead>
  <tbody>
  {{#each model as |cliente| }}
    <tr>
      <td>{{cliente.nome}}</td>
      <td>
        {{#link-to "clientes.view" cliente class="btn btn-default"}}
          <span class="glyphicon glyphicon-bookmark"></span>
        {{/link-to}}
        {{#if cliente.isDeleted }}
          <button class="btn btn-danger"
            {{action 'confirmar' cliente}}>
            confirmar
          </button>
          <button class="btn btn-default"
            {{action 'cancelar' cliente}}>
            cancelar
          </button>
        {{else}}
          <button class="btn btn-warning"
            {{action 'excluir' cliente}}>
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        {{/if}}

      </td>
    </tr>
  {{/each}}
  </tbody>
</table>