{{log contatosFiltrado}}
<div class="toolbar">
	{{#link-to 'contatos.novo' class="btn btn-primary" tagName="button" }}NOVO{{/link-to}}
	<button class="btn" {{action 'toggleFilter'}}>
	<span class="glyphicon glyphicon-filter"></span>
	</button>
</div>
{{#if isFiltered}}
<form>
	<div class="form-group">
		<input type="" name="filtronome" class="form-control" placeholder="nome" >
	</div>
</form>
{{/if}}

{{#if contatosFiltrado }}


<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Nome
			</th>
			<th>
				telefone
			</th>
			<th>
				email
			</th>
			<th>
				ações
			</th>
		</tr>
	</thead>
	<tbody>
			{{#each contatosFiltrado as |contato| }}
			<tr>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.email}}</td>
			</tr>
			{{/each}}
	</tbody>
</table>
{{else}}
	<div class="alert alert-info">
	SEM CONTATOS PARA EXIBIR
	</div>
{{/if}}
{{outlet}}